.container {
    display: flex;
    flex-direction: column;
}
.index__n-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.index__n-item {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 24px;
}
.index__n-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100%;
}
.index__n-img {
    border-radius: 4px;
    width: 100%;
    height: auto;
    opacity: .9;
}
.index__n-name {
    margin: 6px 0;
    word-break: break-word;
    overflow: hidden
}
.index__n-name p {
    color: #000000;
    text-decoration: none;
}
.index__n-name a {
    display: block;
    font-weight: 500;
    line-height: 135%;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 4px
}
.block {
    padding: 20px; 
    background-color: white; 
    margin-top: 200px; 
}
.block h2 {
    color: #000000;
    text-align: center;
}
.block p {
    color: #000000;
    text-align: justify; 
}
*,*:before,*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,code,img,b,u,i,center,table,tr,th,td,video {
    margin: 0;
    padding: 0;
    border: 0
}

sup {
    line-height: 0;
    font-size: smaller;
    vertical-align: super
}

sub {
    line-height: 0;
    font-size: smaller;
    vertical-align: sub
}

.t-clear {
    clear: both
}

.t-row {
    margin: 0
}

.t-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0
}

.t-container.flexx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.t-container_flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.t-container_100 {
    width: 100%;
    padding: 0
}

.t-container_10 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    padding: 0
}

.t-container_8 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    padding: 0
}

.t-container:before,.t-container:after,.t-container_10:before,.t-container_10:after,.t-container_8:before,.t-container_8:after,.t-container_100:before,.t-container_100:after {
    display: table;
    content: " ";
    width: 0
}

.t-container:after,.t-container_10:after,.t-container_8:after,.t-container_100:after {
    clear: both
}

.t-col {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%
}

.t-col.flexx {
    align-items: stretch;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto
}

.t-col_flex {
    align-items: stretch;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto
}

.t-col_1 {
    max-width: 60px
}

.t-col_2 {
    max-width: 160px
}

.t-col_3 {
    max-width: 260px
}

.t-col_4 {
    max-width: 360px
}

.t-col_5 {
    max-width: 460px
}

.t-col_6 {
    max-width: 560px
}

.t-col_7 {
    max-width: 660px
}

.t-col_8 {
    max-width: 760px
}

.t-col_9 {
    max-width: 860px
}

.t-col_10 {
    max-width: 960px
}

.t-col_11 {
    max-width: 1060px
}

.t-col_12 {
    max-width: 1160px
}

.t-col_100 {
    max-width: 100vw
}

.t-prefix_1 {
    padding-left: 100px
}

.t-prefix_2 {
    padding-left: 200px
}

.t-prefix_3 {
    padding-left: 300px
}

.t-prefix_4 {
    padding-left: 400px
}

.t-prefix_5 {
    padding-left: 500px
}

.t-prefix_6 {
    padding-left: 600px
}

.t-prefix_7 {
    padding-left: 700px
}

.t-prefix_8 {
    padding-left: 800px
}

.t-prefix_9 {
    padding-left: 900px
}

.t-prefix_10 {
    padding-left: 1000px
}

.t-prefix_11 {
    padding-left: 1100px
}

.t-prefix_12 {
    padding-left: 1200px
}

.t-width {
    width: 100%
}

.t-width_1 {
    max-width: 60px
}

.t-width_2 {
    max-width: 160px
}

.t-width_3 {
    max-width: 260px
}

.t-width_4 {
    max-width: 360px
}

.t-width_5 {
    max-width: 460px
}

.t-width_6 {
    max-width: 560px
}

.t-width_7 {
    max-width: 660px
}

.t-width_8 {
    max-width: 760px
}

.t-width_9 {
    max-width: 860px
}

.t-width_10 {
    max-width: 960px
}

.t-width_11 {
    max-width: 1060px
}

.t-width_12 {
    max-width: 1160px
}

.t-width_100 {
    max-width: 100%
}

.t-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin-left: 0;
    margin-right: 0
}

.t-cell_25 {
    width: 25vw
}

.t-cell_33 {
    width: 33.3333333vw
}

.t-cell_50 {
    width: 50vw
}

.t-cell_100 {
    width: 100vw
}

@media screen and (max-width: 1200px) {
    .t-container {
        max-width:960px;
        padding: 0
    }

    .t-container_10 {
        max-width: 780px
    }

    .t-container_8 {
        max-width: 640px
    }

    .t-col {
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%
    }

    .t-col_1 {
        max-width: 60px
    }

    .t-col_2 {
        max-width: 140px
    }

    .t-col_3 {
        max-width: 220px
    }

    .t-col_4 {
        max-width: 300px
    }

    .t-col_5 {
        max-width: 380px
    }

    .t-col_6 {
        max-width: 460px
    }

    .t-col_7 {
        max-width: 540px
    }

    .t-col_8 {
        max-width: 620px
    }

    .t-col_9 {
        max-width: 700px
    }

    .t-col_10 {
        max-width: 780px
    }

    .t-col_11 {
        max-width: 860px
    }

    .t-col_12 {
        max-width: 940px
    }

    .t-prefix_1 {
        padding-left: 80px
    }

    .t-prefix_2 {
        padding-left: 160px
    }

    .t-prefix_3 {
        padding-left: 240px
    }

    .t-prefix_4 {
        padding-left: 320px
    }

    .t-prefix_5 {
        padding-left: 400px
    }

    .t-prefix_6 {
        padding-left: 480px
    }

    .t-prefix_7 {
        padding-left: 560px
    }

    .t-prefix_8 {
        padding-left: 640px
    }

    .t-prefix_9 {
        padding-left: 720px
    }

    .t-prefix_10 {
        padding-left: 800px
    }

    .t-prefix_11 {
        padding-left: 880px
    }

    .t-prefix_12 {
        padding-left: 960px
    }

    .t-width_1 {
        max-width: 60px
    }

    .t-width_2 {
        max-width: 140px
    }

    .t-width_3 {
        max-width: 220px
    }

    .t-width_4 {
        max-width: 300px
    }

    .t-width_5 {
        max-width: 380px
    }

    .t-width_6 {
        max-width: 460px
    }

    .t-width_7 {
        max-width: 540px
    }

    .t-width_8 {
        max-width: 620px
    }

    .t-width_9 {
        max-width: 700px
    }

    .t-width_10 {
        max-width: 780px
    }

    .t-width_11 {
        max-width: 860px
    }

    .t-width_12 {
        max-width: 940px
    }

    .t-width_100 {
        max-width: 100%
    }
}

@media screen and (max-width: 960px) {
    .t-container {
        max-width:640px
    }

    .t-container.flexx {
        display: block
    }

    .t-container_flex {
        display: block
    }

    .t-col {
        display: block;
        float: none;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box
    }

    .t-col_1,.t-col_2,.t-col_3,.t-col_4,.t-col_5,.t-col_6,.t-col_7,.t-col_8,.t-col_9,.t-col_10,.t-col_11,.t-col_12 {
        width: 100%;
        max-width: 100%
    }

    .t-prefix_1,.t-prefix_2,.t-prefix_3,.t-prefix_4,.t-prefix_5,.t-prefix_6,.t-prefix_7,.t-prefix_8,.t-prefix_9,.t-prefix_10,.t-prefix_11,.t-prefix_12 {
        padding-left: none
    }
}
.t015 {
    box-sizing: border-box
}

.t015__title {
    padding-top: 8px;
    padding-bottom: 3px
}

.t015__uptitle {
    padding-top: 10px;
    padding-bottom: 40px
}

.t015__descr {
    padding: 41px 0 0 0
}
.csssize {
    height: 9804px
}

.t-body {
    margin: 0
}

#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none
}

#allrecords a {
    color: #ff8562;
    text-decoration: none
}

#allrecords a,#allrecords button,#allrecords .t-radio,#allrecords .t-checkbox,#allrecords .t-img-select {
    outline: none
}

#allrecords a:focus-visible,#allrecords button:focus-visible,#allrecords .t-focusable,#allrecords .t-focusable .t-btn,#allrecords .t-focusable .t-btntext,#allrecords .t-img-select:focus-visible+.t-img-select__indicator,#allrecords .t-img-select:focus-visible+.t-img-select__indicator:after,#allrecords .t-radio:focus-visible+.t-radio__indicator,#allrecords .t-checkbox:focus-visible+.t-checkbox__indicator {
    outline-color: #2015FF;
    outline-offset: 4px;
    outline-style: auto
}

#allrecords .t-descr a:focus-visible,#allrecords .t-sociallinks a:focus-visible,#allrecords .ya-share2__link:focus-visible {
    outline-offset: 2px
}

#allrecords a[href^=tel] {
    color: inherit;
    text-decoration: none
}

#allrecords ol {
    padding-left: 22px
}

#allrecords ul {
    padding-left: 20px
}

#allrecords b,#allrecords strong {
    font-weight: 700
}

@media print {
    body,html {
        min-width: 1200px;
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
        border: none
    }
}

.t-records {
    -webkit-font_smoothing: antialiased;
    background-color: none
}

.t-records a {
    color: #ff8562;
    text-decoration: none
}

.t-records a[href^=tel] {
    color: inherit;
    text-decoration: none
}

.t-records ol {
    padding-left: 22px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-records ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-mbfix {
    opacity: .01;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    width: 100%;
    height: 500px;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease
}

.t-mbfix_hide {
    -webkit-transform: translateX(3000px);
    -ms-transform: translateX(3000px);
    transform: translateX(3000px)
}

img:not([src]) {
    visibility: hidden
}

.t-body_scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.r_anim {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s
}

.r_hidden {
    opacity: 0
}

.r_showed {
    opacity: 1
}

.t-text {
    font-family: 'segoe ui',Arial,sans-serif;
    font-weight: 300;
    color: #000000
}

.t-text_xs {
    font-size: 15px;
    line-height: 1.55
}

.t-text_sm {
    font-size: 18px;
    line-height: 1.55
}

.t-text_md {
    font-size: 20px;
    line-height: 1.55
}

.t-name {
    font-family: 'segoe ui',Arial,sans-serif;
    font-weight: 600;
    color: #000000
}

.t-name_xs {
    font-size: 16px;
    line-height: 1.35
}

.t-name_md {
    font-size: 20px;
    line-height: 1.35
}

.t-name_lg {
    font-size: 22px;
    line-height: 1.35
}

.t-heading {
    font-family: 'segoe ui',Arial,sans-serif;
    font-weight: 600;
    color: #000000
}

.t-heading_sm {
    font-size: 28px;
    line-height: 1.17
}

.t-heading_lg {
    font-size: 32px;
    line-height: 1.17
}

.t-title {
    font-family: 'segoe ui',Arial,sans-serif;
    font-weight: 600;
    color: #000000
}

.t-title_xxs {
    font-size: 36px;
    line-height: 1.23
}

.t-title_xs {
    font-size: 42px;
    line-height: 1.23
}

.t-title_xxl {
    font-size: 82px;
    line-height: 1.17
}

.t-descr {
    font-family: 'segoe ui',Arial,sans-serif;
    font-weight: 300;
    color: #000000
}

.t-descr_xxs {
    font-size: 14px;
    line-height: 1.55
}

.t-descr_xs {
    font-size: 16px;
    line-height: 1.55
}

.t-descr_sm {
    font-size: 18px;
    line-height: 1.55
}

.t-descr_md {
    font-size: 20px;
    line-height: 1.55
}

.t-descr_xl {
    font-size: 24px;
    line-height: 1.5
}

.t-btn {
    display: inline-block;
    font-family: 'segoe ui',Arial,sans-serif;
    border: 0 none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.t-btn td {
    vertical-align: middle
}

.t-btn_sending {
    opacity: .5
}

.t-btn_md {
    height: 60px;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px
}

.t-align_center {
    text-align: center
}

.t-align_right {
    text-align: right
}

.t-valign_middle {
    vertical-align: middle
}

.t-valign_top {
    vertical-align: top
}

.t-margin_left_auto {
    margin-right: 0;
    margin-left: auto
}

.t-tildalabel {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 70px;
    font-family: Arial;
    font-size: 14px
}

.t-tildalabel:hover .t-tildalabel__wrapper {
    opacity: 1
}

.t-tildalabel__wrapper {
    display: table;
    height: 30px;
    width: 270px;
    margin: 0 auto;
    padding-top: 20px;
    opacity: .4
}

.t-tildalabel__txtleft {
    display: table-cell;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    text-align: right;
    padding-right: 12px;
    font-weight: 300;
    font-size: 12px
}

.t-tildalabel__wrapimg {
    display: table-cell;
    width: 30px;
    height: 30px;
    vertical-align: middle
}

.t-tildalabel__img {
    width: 30px;
    height: 30px;
    vertical-align: middle
}

.t-tildalabel__txtright {
    display: table-cell;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    padding-left: 12px;
    font-weight: 500;
    letter-spacing: 2px
}

.t-tildalabel__link {
    color: #fff;
    text-decoration: none;
    vertical-align: middle
}

.t-popup {
    display: none
}

.t-submit {
    font-family: 'segoe ui',Arial,sans-serif
}

.t-input {
    font-family: 'segoe ui',Arial,sans-serif
}

.t-input__vis-ph {
    font-family: 'segoe ui',Arial,sans-serif
}

.t-select {
    font-family: 'segoe ui',Arial,sans-serif
}

.t-input-error {
    font-family: 'segoe ui',Arial,sans-serif
}

.t-form__errorbox-wrapper {
    font-family: 'segoe ui',Arial,sans-serif
}

.t-form__errorbox-text {
    font-family: 'segoe ui',Arial,sans-serif
}

.t-form__errorbox-item {
    font-family: 'segoe ui',Arial,sans-serif
}

.t-form__successbox {
    font-family: 'segoe ui',Arial,sans-serif
}

.t-rec_pt_0 {
    padding-top: 0
}

.t-rec_pt_15 {
    padding-top: 15px
}

.t-rec_pt_30 {
    padding-top: 30px
}

.t-rec_pt_45 {
    padding-top: 45px
}

.t-rec_pt_60 {
    padding-top: 60px
}

.t-rec_pt_90 {
    padding-top: 90px
}

.t-rec_pt_150 {
    padding-top: 150px
}

.t-rec_pb_0 {
    padding-bottom: 0
}

.t-rec_pb_15 {
    padding-bottom: 15px
}

.t-rec_pb_30 {
    padding-bottom: 30px
}

.t-rec_pb_45 {
    padding-bottom: 45px
}

.t-rec_pb_75 {
    padding-bottom: 75px
}

.t-rec_pb_90 {
    padding-bottom: 90px
}

.t-rec_pb_150 {
    padding-bottom: 150px
}

@media screen and (max-width: 1200px) {
    .t-text_xs {
        font-size:14px
    }

    .t-text_sm {
        font-size: 16px
    }

    .t-text_md {
        font-size: 18px
    }

    .t-descr_xxs {
        font-size: 12px
    }

    .t-descr_xs {
        font-size: 14px
    }

    .t-descr_sm {
        font-size: 16px
    }

    .t-descr_md {
        font-size: 18px
    }

    .t-descr_xl {
        font-size: 22px
    }

    .t-title_xxs {
        font-size: 32px
    }

    .t-title_xs {
        font-size: 38px
    }

    .t-title_xxl {
        font-size: 78px
    }

    .t-name_xs {
        font-size: 14px
    }

    .t-name_md {
        font-size: 18px
    }

    .t-name_lg {
        font-size: 20px
    }

    .t-heading_sm {
        font-size: 26px
    }

    .t-heading_lg {
        font-size: 30px
    }
}
.t-rec_pb_0 {
    padding-bottom: 0
}

.t-rec_pb_15 {
    padding-bottom: 15px
}

.t-rec_pb_30 {
    padding-bottom: 30px
}

.t-rec_pb_45 {
    padding-bottom: 45px
}

.t-rec_pb_75 {
    padding-bottom: 75px
}

.t-rec_pb_90 {
    padding-bottom: 90px
}

.t-rec_pb_150 {
    padding-bottom: 150px
}
.t029__container {
    text-align: center;
    padding-bottom: 8px
}

.t029__col {
    float: none;
    display: inline-block
}

.t029__linewrapper {
    position: relative
}

.t029__line {
    width: 100%;
    height: 1px;
    display: table-cell
}

.t029__opacity {
    display: table-cell;
    min-width: 200px;
    height: 1px
}
.card {
    width: 32%;
    margin-left: 1%;
}
.t470__title {
    margin-bottom: 120px
}

.t470__descr {
    position: relative;
    z-index: 1;
    margin: 110px 0
}

.t470 .t-btn {
    margin-top: 120px
}

.t470__imgdescrwrapper {
    position: relative;
    display: table
}

.t470__bgimg {
    top: 0;
    left: 60%;
    max-width: 50%;
    max-height: 50%;
}

img.t470__bgimg.t-img {
    object-fit: scale-down;
}